<section class="main">
    <h1>New Conversation</h1>

    <%= form_tag conversations_path, method: :post do %>

        <%= hidden_field_tag :owner_id, @recipients %>
      

        <div>
            <%= text_field_tag :subject, placeholder: "Subject" %>
        </div>

        <div>
            <%= text_area_tag :body, placeholder: "Leave a comment" %>
        </div>

        <%= submit_tag %>
    <% end %>


</section>