<div class="main">
  <div class="edit-container">
    <div class="edit-information">
      <h2 class="header">Edit Information</h2>
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
          <%= render "owners/shared/error_messages", resource: resource %>
              <div class="profile-pic">
                <%= image_tag current_owner.image_url if current_owner.image %>
                <div class="field">
                  <%= f.file_field :image %>
                </div>
              </div>
      <h2 class="header">Account Information</h2>
            <div class="field">
              <%= f.label :email %>
              <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
            </div>
            
            <div class="field">
              <%= f.label :firstname %>
              <%= f.text_field :firstname %>
            </div>
            
            <div class="field">
             <%= f.label :middlename %>
              <%= f.text_field :middlename %>
            </div>

            <div class="field">
              <%= f.label :lastname %>
              <%= f.text_field :lastname %>
            </div>

            <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
              <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
            <% end %>

        <h2 class="header">Change Password<i>(leave blank if you don't want to change it)</i></h2>
          
            <div class="field">
              <%= f.label :password %>
              <%= f.password_field :password, autocomplete: "new-password" %>
            </div>

            <div class="field">
              <%= f.label :password_confirmation %>
              <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
            </div>
      <h2 class="header">Current Password<i>(we need your current password to confirm your changes)</i></h2>

            <div class="field">
              <%= f.label :current_password %>
              <%= f.password_field :current_password, autocomplete: "current-password" %>
            </div>

            <div class="actions">
              <%= f.submit "Update" %>
            </div>
            <% end %>

              <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %>

            <%= link_to "Back", :back %>
        </div>
    </div>
</div>