<div class="center-form-container">
  <h1>Signup as Owner</h1>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "owners/shared/error_messages", resource: resource %>

    <div class="field">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", required: true %>
      <span></span>
      <%= f.label :email %>
    </div>

    <div class="field">
      <%= f.text_field :firstname , required: true%>
      <span></span>
      <%= f.label :firstname %>
    </div>
    
    <div class="field">
      <%= f.text_field :middlename, required: true %>
      <span></span>
      <%= f.label :middlename %>
      
    </div>

    <div class="field">
      <%= f.text_field :lastname , required: true%>
      <span></span>
      <%= f.label :lastname %>
    </div>

    <div class="field">
      <%= f.password_field :password, autocomplete: "new-password", required: true %>
      <span></span>
      <%= f.label :password %>
    </div>

    <div class="field">
      <%= f.password_field :password_confirmation, autocomplete: "new-password", required: true %>
      <span></span>
      <%= f.label :password_confirmation %>
    </div>

    <div class="actions">
      <%= f.submit "Sign up" %>
    </div>

    <div class="links">
      <%= render "owners/shared/links" %>
    </div>
  <% end %>
</div>