
<%= form_with(model: property) do |form| %>
  <% if property.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(property.errors.count, "error") %> prohibited this property from being saved:</h2>

      <ul>
        <% property.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-container">

    <div class="mb-6">
      <%= form.label :property_type, :class => "block-label"%>
      <%= form.select :property_type, ["house", "apartment", "condominium", "dormitory"], {}, {:class => "styled-input"} %>
    </div>

    <div class="mb-6">
      <%= form.label :listing_type, :class => "block-label" %>
      <%= form.select :listing_type, ["entire unit", "bedspace", "room"], {}, {:class => "styled-input"}%>
    </div>

    <div class="form-group col-span-2 grid grid-cols-2 gap-10">
      <div class="grid grid-cols-2">
        <%= form.label :accomodation_type, :class => "block-label col-span-2" %>
        <% accomodations = ["male", "female", "student", "working", "couple", "family"]%>
        <% accomodations.each do |accomodation| %>
          <div>
            <%= form.check_box :accomodation_type, { :multiple => true, :checked => true, :class => "checkbox-box"}, accomodation, nil %>
            <%= form.label accomodation, :class => "normal-label" %> 
          </div>
        <% end %>
      </div>

      <div class="grid grid-cols-2">
        <%= form.label :amenities, :class => "block-label col-span-2" %>
        <% amenities = ["aircon", "wifi", "parking", "cooking", "gym", "pool"]%>
        <% amenities.each do |amenity| %>
          <div>
            <%= form.check_box :amenities, { :multiple => true, :checked => true, :class => "checkbox-box" }, amenity, nil %>
            <%= form.label amenity, :class => "normal-label" %>
          </div>
        <% end %>
      </div>

      <div class="grid grid-cols-2">
        <%= form.label :house_rules, :class => "block-label col-span-2" %>
        <% house_rules = ["kids", "pets", "smoking", "visitors"]%>
        <% house_rules.each do |rule| %>
          <div>
            <%= form.check_box :house_rules, { :multiple => true, :checked => true, :class => "checkbox-box" }, rule, nil %>
            <%= form.label rule, :class => "normal-label" %>
          </div>
        <% end %>
      </div>
    </div>

    <div class="form-group col-span-2 grid grid-cols-3 gap-4">
      <div class="mb-6">
        <%= form.label :monthly_price, :class => "block-label col-span-2" %>
        <%= form.text_field :monthly_price, :class => "styled-input", :placeholder => "rate in PHP" %>
      </div>

      <div class="mb-6">
        <%= form.label "Advance Deposit", :class => "block-label col-span-2" %>
        <%= form.text_field :deposit_advance, :class => "styled-input", :placeholder => "Number of months" %>
      </div>

      <div class="mb-6">
        <%= form.label "Security Deposit", :class => "block-label col-span-2" %>
        <%= form.text_field :deposit_security, :class => "styled-input", :placeholder => "Number of months" %>
      </div>

      <div class="mb-6 col-span-3">
        <%= form.label :other_fees, :class => "block-label" %>
        <%= form.text_field :other_fees, :class => "styled-input w-full", :placeholder => "Other fees on top of monthly rent" %>
      </div>
    </div>

    <div class="form-group col-span-2 grid grid-cols-3 gap-4">
      <div class="mb-6 col-span-2">
        <%= form.label :image, :class => "block-label col-span-2" %>
        <%= form.file_field :image %>
      </div>

    </div>

    <div data-controller="places" data-action="google-maps-callback@window->places#initAutocomplete" class="form-group col-span-2">
      <%= form.label 'Complete Address', :class => "block-label col-span-2" %>
      <%= form.text_field :long_address, :class => "styled-input w-full", :placeholder => "Complete address" %>
      <label for="address" class="block-label">Location</label>
      <input type="text" id="address" autocomplete="off" 
      data-action="keyup->places#initializeSearch" data-places-target="address" class="styled-input w-full" placeholder="Search a location">
      <input type="hidden" name="property[location_city]" data-places-target="city">
      <input type="hidden" name="property[location_lat]" data-places-target="lat">
      <input type="hidden" name="property[location_lng]" data-places-target="lng">
      <div data-places-target="map" class="map"></div>
      <button data-action="click->places#findMyLocation" class="btn-primary">Use Current Location</button>
    </div>

    <%= form.hidden_field :owner_id, value: current_owner.id %>
    <%= form.hidden_field :approved, value: true %>

    <%= form.submit 'Create Listing', class: "actions btn-primary col-span-2" %>
  </div>
<% end %>
