<%= form_with(model: property) do |form| %>
  <% if property.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(property.errors.count, "error") %> prohibited this property from being saved:</h2>

      <ul>
        <% property.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :property_type %>
    <%= form.select :property_type, ["house", "apartment", "condominium", "dormitory"] %>
  </div>

  <div class="field">
    <%= form.label :listing_type %>
    <%= form.select :listing_type, ["entire unit", "bedspace", "room"] %>
  </div>

  <div class="field">
    <%= form.label :accomodation_type %>
    <%= form.text_field :accomodation_type %>
  </div>

  <div class="field">
    <%= form.label :amenities %>
    <%= form.text_field :amenities %>
  </div>

  <div class="field">
    <%= form.label :monthly_price %>
    <%= form.text_field :monthly_price %>
  </div>

  <div class="field">
    <%= form.label :deposit_advance %>
    <%= form.text_field :deposit_advance %>
  </div>

  <div class="field">
    <%= form.label :deposit_security %>
    <%= form.text_field :deposit_security %>
  </div>

  <div class="field">
    <%= form.label :other_fees %>
    <%= form.text_field :other_fees %>
  </div>

  <div class="field">
    <%= form.label :house_rules %>
    <%= form.text_field :house_rules %>
  </div>

  <div data-controller="places" data-action="google-maps-callback@window->places#initAutocomplete">
    <label for="address">Address</label>
    <input type="text" name="property[long_address]" id="address" autocomplete="off" 
    data-action="keyup->places#initializeSearch" data-places-target="address" placeholder="Search a location">
    <button data-action="click->places#findMyLocation">cuurent location</button>
    <input type="hidden" name="property[location_city]" data-places-target="city">
    <input type="hidden" name="property[location_lat]" data-places-target="lat">
    <input type="hidden" name="property[location_lng]" data-places-target="lng">
    <div data-places-target="map" class="map"></div>
  </div>

  

  
  <div class="field">
    <%= form.label :image %>
    <%= form.file_field :image %>
  </div>
<%# , multiple: true %>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
