<div class='filters filter-container'>
  <%= search_form_for @q do |form| %>
    <h1>Property Type</h1>
    <% property_type_array = ["condo", "apartment", "house", "dormitory"]%>
    <% property_type_array.each do |property_type| %>
      <div>
        <%= check_box_tag('q[property_type_eq_any][]', property_type, (true if @q.property_type_eq_any.try(:include?, property_type))) %>
        <%= property_type %>
      </div>
    <%end%>

    <h1>Listing Type</h1>
    <% listing_type_array = ["entire unit", "room", "bedspace"]%>
    <% listing_type_array.each do |listing_type| %>
      <div>
        <%= check_box_tag('q[listing_type_eq_any][]', listing_type, (true if @q.listing_type_eq_any.try(:include?, listing_type))) %>
        <%= listing_type %>
      </div>
    <%end%>

    <h1>Accomodation Type</h1>
    <% accomodation_array = ["male", "female", "student", "working", "couple", "family"]%>
    <% accomodation_array.each do |accomodation| %>
      <div>
        <%= check_box_tag('q[accomodation_type_cont_all][]', accomodation, (true if @q.accomodation_type_cont_all.try(:include?, accomodation))) %>
        <%= accomodation %>
      </div>
    <%end%>

    <h1>Amenities</h1>
    <% amenities_array = ["aircon", "wifi", "parking", "cooking", "gym", "pool"]%>
    <% amenities_array.each do |amenity| %>
      <div>
        <%= check_box_tag('q[amenities_cont_all][]', amenity, (true if @q.amenities_cont_all.try(:include?, amenity))) %>
        <%= amenity %>
      </div>
    <%end%>

    <h1>House Rules</h1>
    <% house_rules_array = ["kids", "pets", "smoking", "visitors"]%>
    <% house_rules_array.each do |rule| %>
      <div>
        <%= check_box_tag('q[house_rules_cont_all][]', rule, (true if @q.house_rules_cont_all.try(:include?, rule))) %>
        <%= rule %>
      </div>
    <%end%>
    
      <%= link_to "Reset Filter", properties_path, :method => "get"%>
    <div class="btn-container">
      <%= form.submit "Search", :class=> "btn-primary" %>
    </div>
    
  <% end %>
</div>
