<div class='filters filter-container'>

  <div class="filter-group">
    <h1 class="card-subtitle">Location</h1>
    <%res= Geokit::Geocoders::GoogleGeocoder.reverse_geocode "#{session[:origin_point][0].to_s},#{session[:origin_point][1].to_s}"if session[:origin_point]%>
    <p class="description-text text-sm">
      <%="Showing properties within #{@radius} km from" if res%>
    </p>
    <p class="description-text text-sm">
      <%="#{res.full_address}" if res%>
    </p>
    
    <%= form_tag(properties_path, method: :get) do%>
      <div class="grid grid-cols-3 items-center gap-3">
        <input type="text" name="new_radius" class=" styled-input m-0", placeholder="<%=@radius%> km">
        <%= submit_tag "set radius", :class => "btn-primary text-sm"%>
        <%= link_to 'clear origin', clear_origin_point_path, :class => "btn-primary text-sm" %>
      </div>
    <%end%>
  </div>


  <%= search_form_for @q do |form| %>
    <div class="filter-group">
      <h1 class="card-subtitle">Budget</h1>
      <%= form.text_field :monthly_price_lteq, :class=> "styled-input", :placeholder => "not greater than"%>
    </div>
    
    <div class="filter-group grid grid-cols-2">
      <div class="mb-5">
        <h1 class="card-subtitle">Property Type</h1>
        <% property_type_array = ["condo", "apartment", "house", "dormitory"]%>
        <% property_type_array.each do |property_type| %>
          <div class="text-gray-500">
            <%= check_box_tag('q[property_type_eq_any][]', property_type, (true if @q.property_type_eq_any.try(:include?, property_type)), :class=>"checkbox-box") %>
            <%= property_type %>
          </div>
        <%end%>
      </div>
      <div class="mb-5">
        <h1 class="card-subtitle">Listing Type</h1>
        <% listing_type_array = ["entire unit", "room", "bedspace"]%>
        <% listing_type_array.each do |listing_type| %>
          <div class="text-gray-500">
            <%= check_box_tag('q[listing_type_eq_any][]', listing_type, (true if @q.listing_type_eq_any.try(:include?, listing_type)), :class=>"checkbox-box") %>
            <%= listing_type %>
          </div>
        <%end%>
      </div>

      <div class="mb-5">
        <h1 class="card-subtitle">Accomodation Type</h1>
        <% accomodation_array = ["male", "female", "student", "working", "couple", "family"]%>
        <% accomodation_array.each do |accomodation| %>
          <div class="text-gray-500">
            <%= check_box_tag('q[accomodation_type_cont_all][]', accomodation, (true if @q.accomodation_type_cont_all.try(:include?, accomodation)), :class=>"checkbox-box") %>
            <%= accomodation %>
          </div>
        <%end%>
      </div>
      <div class="mb-5">
        <h1 class="card-subtitle">Amenities</h1>
          <% amenities_array = ["aircon", "wifi", "parking", "cooking", "gym", "pool"]%>
          <% amenities_array.each do |amenity| %>
            <div class="text-gray-500">
              <%= check_box_tag('q[amenities_cont_all][]', amenity, (true if @q.amenities_cont_all.try(:include?, amenity)), :class=>"checkbox-box") %>
              <%= amenity %>
            </div>
          <%end%>
        
      </div>
      <div class="mb-5">
        <h1 class="card-subtitle">House Rules</h1>
        <% house_rules_array = ["kids", "pets", "smoking", "visitors"]%>
        <% house_rules_array.each do |rule| %>
          <div class="text-gray-500">
            <%= check_box_tag('q[house_rules_cont_all][]', rule, (true if @q.house_rules_cont_all.try(:include?, rule)), :class=>"checkbox-box") %>
            <%= rule %>
          </div>
        <%end%>
      </div>
      <div>
        <div>
          <h1 class="card-subtitle">Slots</h1>
          <%= form.text_field :slots_gteq, :class=> "styled-input w-24", :placeholder => "min"%>
        </div>
        <p class="text-gray-500 my-5"><%= link_to "Reset Filter", properties_path, :method => "get"%></p>
        
      </div>
      <div class="btn-container col-span-2">
        <%= form.submit "Search", :class=> "btn-primary" %>
      </div>
    </div>
  <% end %>
</div>
