<p id="notice"><%= notice %></p>


<section class="bg-white dark:bg-gray-900">
  <div class="container px-6 py-10 mx-auto">
    <h1 class="text-3xl font-semibold text-gray-800 capitalize lg:text-4xl dark:text-white">explore our <br> awesome <span class="underline decoration-tomato-500">Properties</span></h1>
    <p class="mt-4 text-gray-500 xl:mt-6 dark:text-gray-300">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nostrum quam voluptatibus
    </p>
      
    <div class="grid grid-cols-1 gap-8 mt-8 xl:mt-12 xl:gap-12 md:grid-cols-2 xl:grid-cols-3">
    <div>
      <%= render 'sidebar', properties: @properties %>
    </div>
      <% @properties.each do |property| %>
        <div class="max-w-sm mx-auto overflow-hidden bg-white rounded-lg shadow-lg dark:bg-gray-800 m-3">
        <div class="w-full h-56">
          <%if property.image%>
            <%= image_tag(property.image_url, class: "object-cover object-center h-56 w-96" ) %>
          <%else%>
            <%= image_tag("https://res.cloudinary.com/dbegssigw/image/upload/v1652432165/bhouse_app/bhouselogo_xiistv.png", class: "object-cover object-center w-full h-56" ) %>
          <%end%>
        </div>
          <div class="flex items-center px-6 py-3 bg-tomato-500">
            <h1 class="mx-3 text-lg font-semibold text-white"><%= "#{property.property_type} in #{property.location_city}"%></h1>
          </div>
          <div class="px-6 py-4">
            <h1 class="text-xl font-semibold text-gray-800 dark:text-white"><%= property.listing_type %></h1>
            <p class="py-2 text-gray-700 dark:text-gray-400">Property desciption</p>      
            <div class="flex flex-col mt-4 text-gray-700 dark:text-gray-200">
              <h3 class="px-2 text-sm"><%= property.property_type %></h3>
              <h3 class="px-2 text-sm"></h3>
              <h3 class="px-2 text-sm"><%= property.accomodation_type %></h3>
              <h3 class="px-2 text-sm"><%= property.amenities %></h3>
              <h3 class="px-2 text-sm"><%= property.monthly_price %></h3>
              <h3 class="px-2 text-sm"><%= property.deposit_advance %></h3>
              <h3 class="px-2 text-sm"><%= property.deposit_security %></h3>
              <h3 class="px-2 text-sm"><%= property.other_fees %></h3>
              <h3 class="px-2 text-sm"><%= property.house_rules %></h3>
              <h3 class="px-2 text-sm"><%= property.location_city %></h3>
              <h3 class="px-2 text-sm"><%= property.location_lat %></h3>
              <h3 class="px-2 text-sm"><%= property.location_lng %></h3>
              <h3 class="px-2 text-sm"><%= property.owner_id %></h3>
              <h3 class="px-2 text-sm"><%= link_to 'Show', property %></h3>
              <h3 class="px-2 text-sm"><%= link_to 'Edit', edit_property_path(property) %></h3>
              <h3 class="px-2 text-sm"><%= link_to 'Destroy', property, method: :delete, data: { confirm: 'Are you sure?' } %></h3>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>



       




<br>

<%= link_to 'New Property', new_property_path %>
