<p id="notice"><%= notice %></p>
<div class="p-5 w-1/2 mx-auto my-5 border border-emerald-500">
  <%= button_to "Message Owner", conversations_path, :method => "get" %>
</div>

<% if current_tenant%>
  <% if current.property_tenants.where(:property_id => @property.id)%>
    <p>current.property_tenants.where(:property_id => @property.id).status<p>
    <%end%>
  <%= button_to "Apply as Tenant", create_property_tenant_path(@property, :property_tenant => {:property_id => @property.id, :tenant_id => current_tenant.id, :status => "pending"}), :method => "post" %>
<%end%>

<div class="p-5 border border-emerald-100">
  <p>owner: <%="#{@property.owner.firstname} #{@property.owner.lastname} "%></p>
  <% if current_owner == @property.owner %>
    <p>owner logged in</p>
    <p>applications received: <%=@property.property_tenants.count%></p>
  <%end%>
</div>



<p>
  <strong class="text-red-700">Property type:</strong>
  <%= @property.property_type %>
</p>

<p>
  <strong>Listing type:</strong>
  <%= @property.listing_type %>
</p>

<p>
  <strong>Accomodation type:</strong>
  <%= @property.accomodation_type %>
</p>

<p>
  <strong>Amenities:</strong>
  <%= @property.amenities %>
</p>

<p>
  <strong>Monthly price:</strong>
  <%= @property.monthly_price %>
</p>

<p>
  <strong>Deposit advance:</strong>
  <%= @property.deposit_advance %>
</p>

<p>
  <strong>Deposit security:</strong>
  <%= @property.deposit_security %>
</p>

<p>
  <strong>Other fees:</strong>
  <%= @property.other_fees %>
</p>

<p>
  <strong>House rules:</strong>
  <%= @property.house_rules %>
</p>

<p>
  <strong>Location city:</strong>
  <%= @property.location_city %>
</p>

<p>
  <strong>Location lat:</strong>
  <%= @property.location_lat %>
</p>

<p>
  <strong>Location lng:</strong>
  <%= @property.location_lng %>
</p>

<p>
  <strong>address:</strong>
  <%= @property.long_address %>
</p>

<p>
  <strong>Image</strong>
  <%= image_tag @property.image_url if @property.image %>
</p>


<%= link_to 'Edit', edit_property_path(@property) %> |
<%= link_to 'Back', properties_path %>
