
<div class="main" id=main>
    <div class="cardBox">
        <div class="card">
            <div>
                <div class="numbers">20</div>
                <div class="cardName">Tenants</div>
            </div>
            <div class="iconBox">
                <ion-icon name="people-outline"></ion-icon>
            </div>
        </div>
        <div class="card">
            <div>
                <div class="numbers">11</div>
                <div class="cardName">Pending Tenants</div>
            </div>
            <div class="iconBox">
                <ion-icon name="people-circle-outline"></ion-icon>
            </div>
        </div>
        <div class="card">
            <div>
                <div class="numbers">23</div>
                <div class="cardName">Posts</div>
            </div>
            <div class="iconBox">
                <ion-icon name="images-outline"></ion-icon>
            </div>
        </div>
            <div class="card">
            <div>
                <div class="numbers">80</div>
                <div class="cardName">Comments</div>
            </div>
            <div class="iconBox">
                <ion-icon name="chatbubbles-outline"></ion-icon>
            </div>
        </div>
    </div>
    <div class="details">
        <div class="tenantRequest">
            <div class="cardHeader">
                <h2>Tenants Request<h2>
                <a href="#" class="btn">View All</a>
            </div>
            <table>
                <thead>
                    <tr>
                        <td>FirstName</td>
                        <td>Lastname</td>
                        <td>Status</td>
                        <td>Actions</td>
                    </tr>
                    <tbody>
                        <tr>
                            <td>Quevon</td>
                            <td>Galang</td>
                            <td><span class="status pending">Pending<span></td>
                            <td>Accept</td>
                        </tr>
                        <tr>
                            <td>Quevon</td>
                            <td>Galang</td>
                            <td><span class="status pending">Pending<span></td>
                            <td>Accept</td>
                        </tr>
                        <tr>
                            <td>Quevon</td>
                            <td>Galang</td>
                            <td><span class="status pending">Pending<span></td>
                            <td>Accept</td>
                        </tr>
                        <tr>
                            <td>Quevon</td>
                            <td>Galang</td>
                            <td><span class="status pending">Pending<span></td>
                            <td>Accept</td>
                        </tr>
                        <tr>
                            <td>Quevon</td>
                            <td>Galang</td>
                            <td><span class="status pending">Pending<span></td>
                            <td>Accept</td>
                        </tr>
                        <tr>
                            <td>Quevon</td>
                            <td>Galang</td>
                            <td><span class="status pending">Pending<span></td>
                            <td>Accept</td>
                        </tr>
                            <tr>
                            <td>Quevon</td>
                            <td>Galang</td>
                            <td><span class="status pending">Pending<span></td>
                            <td>Accept</td>
                        </tr>
                            <tr>
                            <td>Quevon</td>
                            <td>Galang</td>
                            <td><span class="status pending">Pending<span></td>
                            <td>Accept</td>
                        </tr>
                            <tr>
                            <td>Quevon</td>
                            <td>Galang</td>
                            <td><span class="status pending">Pending<span></td>
                            <td>Accept</td>
                        </tr>
                            <tr>
                            <td>Quevon</td>
                            <td>Galang</td>
                            <td><span class="status pending">Pending<span></td>
                            <td>Accept</td>
                        </tr>
                            <tr>
                            <td>Quevon</td>
                            <td>Galang</td>
                            <td><span class="status pending">Pending<span></td>
                            <td>Accept</td>
                        </tr>
                    </tbody>
            </table>
        </div>
        <div class="recentTenants">
            <div class="cardHeader">
                <h2>Recent Tenants</h2>
            </div>
            <table>
                <tr>
                    <td width="60px"><div class="imgBx"><%= image_tag("empty.png") %></div></td>
                    <td><h4>Quevon<br><span>Galang</span></h4></td>
                </tr>
                <tr>
                    <td width="60px"><div class="imgBx"><%= image_tag("empty.png") %></div></td>
                    <td><h4>Quevon<br><span>Galang</span></h4></td>
                </tr>
                <tr>
                    <td width="60px"><div class="imgBx"><%= image_tag("empty.png") %></div></td>
                    <td><h4>Quevon<br><span>Galang</span></h4></td>
                </tr>
                <tr>
                    <td width="60px"><div class="imgBx"><%= image_tag("empty.png") %></div></td>
                    <td><h4>Quevon<br><span>Galang</span></h4></td>
                </tr>
                <tr>
                    <td width="60px"><div class="imgBx"><%= image_tag("empty.png") %></div></td>
                    <td><h4>Quevon<br><span>Galang</span></h4></td>
                </tr>
                <tr>
                    <td width="60px"><div class="imgBx"><%= image_tag("empty.png") %></div></td>
                    <td><h4>Quevon<br><span>Galang</span></h4></td>
                </tr>
                <tr>
                    <td width="60px"><div class="imgBx"><%= image_tag("empty.png") %></div></td>
                    <td><h4>Quevon<br><span>Galang</span></h4></td>
                </tr>
                <tr>
                    <td width="60px"><div class="imgBx"><%= image_tag("empty.png") %></div></td>
                    <td><h4>Quevon<br><span>Galang</span></h4></td>
                </tr>
            </table>
        </div>
    </div>     
</div>
<h1>Tenant Page</h1>
<%= image_tag current_tenant.image_url if current_tenant.image %>
<%= link_to "Edit Profile" , edit_tenant_registration_path(current_tenant)%>
<h1>Hello <%= current_tenant.email%></h1>
<%= button_to "logout", destroy_tenant_session_path, method: :delete  %>
