
<div class="main" id=main>
    <div class="cardBox">
        <div class="card">
            <div>
                <div class="numbers"><%= current_tenant.property_tenants.count %></div>
                <div class="cardName">Applications</div>
            </div>
            <div class="iconBox">
                <ion-icon name="map-outline"></ion-icon>
            </div>
        </div>
        <div class="card">
            <div>
                <div class="numbers">11</div>
                <div class="cardName">Pending Tenants</div>
            </div>
            <div class="iconBox">
                <ion-icon name="people-circle-outline"></ion-icon>
            </div>
        </div>
        <div class="card">
            <div>
                <div class="numbers">23</div>
                <div class="cardName">Posts</div>
            </div>
            <div class="iconBox">
                <ion-icon name="images-outline"></ion-icon>
            </div>
        </div>
            <div class="card">
            <div>
                <div class="numbers">80</div>
                <div class="cardName">Comments</div>
            </div>
            <div class="iconBox">
                <ion-icon name="chatbubbles-outline"></ion-icon>
            </div>
        </div>
    </div>
    <div class>
        <div class="relative overflow-x-auto shadow-md sm:rounded-lg m-5">
            <table class="w-full text-sm text-left text-gray-500">
                <thead>
                    <tr>
                        <th class="px-6 py-3">Property Type</th>
                        <th class="px-6 py-3">Listing Type</th>
                        <th class="px-6 py-3">Location</th>
                        <th class="px-6 py-3">Monthly Rate</th>
                        <th class="px-6 py-3">Status</th>
                        <th class="px-6 py-3">Date Updated</th>
                    </tr>
                </thead>
                <tbody>
                <% applications = current_tenant.property_tenants %>
                <% applications.each do |application| %>
                    <tr>
                        <td class="px-6 py-4"><%=application.property.property_type%></td>
                        <td class="px-6 py-4"><%=application.property.listing_type%></td>
                        <td class="px-6 py-4"><%=application.property.location_city%></td>
                        <td class="px-6 py-4"><%=application.property.monthly_price%></td>
                        <td class="px-6 py-4"><%=application.status%></td>
                        <td class="px-6 py-4"><%=application.updated_at%></td>
                    </tr>
                <%end%>
                </tbody>
            </table>
        </div>
    </div>
        

