
<div class="main" id=main>
    <div class="grid place-items-center w-full">
        <%= form_tag(properties_path, method: :get, class: "w-2/3 flex items-middle justify-center") do%>
            <div data-controller="searchplace" data-action="google-maps-callback@window->searchplace#initAutocomplete" class="home-search-container m-0 flex">
                <input
                    type="text" id="address" autocomplete="off" 
                    data-action="keyup->searchplace#initializeSearch" data-searchplace-target="address"
                    placeholder="Enter your preferred area or landmark"
                    class="home-search w-full m-0"
                />
                <input type="hidden" name="property[location_lat]" data-searchplace-target="lat">
                <input type="hidden" name="property[location_lng]" data-searchplace-target="lng">
                <button data-action="click->searchplace#findMyLocation"><ion-icon name="location-outline" class="w-8 h-8 mr-3 text-gray-400"></ion-icon></button>
            </div>
            <%= submit_tag "search", class: "flex items-middle justify-start mx-3 btn-primary w-fit cursor-pointer" %>
        <%end%>
    </div>
    <div class="cardBox">
        <div class="card">
            <div>
                <div class="numbers"><%= current_tenant.property_tenants.count %></div>
                <div class="cardName">Applications</div>
            </div>
            <div class="iconBox">
                <ion-icon name="map-outline"></ion-icon>
            </div>
        </div>
        <div class="card">
            <div>
                <div class="numbers">11</div>
                <div class="cardName">Pending Tenants</div>
            </div>
            <div class="iconBox">
                <ion-icon name="people-circle-outline"></ion-icon>
            </div>
        </div>
        <div class="card">
            <div>
                <div class="numbers">23</div>
                <div class="cardName">Posts</div>
            </div>
            <div class="iconBox">
                <ion-icon name="images-outline"></ion-icon>
            </div>
        </div>
            <div class="card">
            <div>
                <div class="numbers"><%=format_currency(current_tenant.balance)%></div>
                <div class="cardName">Balance</div>
            <div class="iconBox">
                <ion-icon name="cash-outline"></ion-icon>

            </div>
        </div>
    </div>
    <div class>
        <%if !current_tenant.my_property.nil? %>
            <div class="w-full text-gray-500 flex flex-col">
                <%=current_tenant.my_property.id%>
                <%=current_tenant.my_property.property_type%>
                <%=current_tenant.my_property.listing_type%>
                
                <%= current_tenant.my_pending_transactions[0].amount%>
                <%= link_to "Fulfill Payment", approve_payment_path(:id => current_tenant.my_pending_transactions[0].id), :method => "patch", :data => {:confirm => "Pay #{format_currency(current_tenant.my_pending_transactions[0].amount)}?"}%>

            </div>
        <% end %>
        <div class="relative overflow-x-auto shadow-md sm:rounded-lg m-5">
            <table class="w-full text-sm text-left text-gray-500">
                <thead>
                    <tr>
                        <th class="px-6 py-3">Property Type</th>
                        <th class="px-6 py-3">Listing Type</th>
                        <th class="px-6 py-3">Location</th>
                        <th class="px-6 py-3">Monthly Rate</th>
                        <th class="px-6 py-3">Status</th>
                        <th class="px-6 py-3">Date Updated</th>
                    </tr>
                </thead>
                <tbody>
                <% applications = current_tenant.property_tenants %>
                <% applications.each do |application| %>
                    <tr>
                        <td class="px-6 py-4"><%=application.property.property_type%></td>
                        <td class="px-6 py-4"><%=application.property.listing_type%></td>
                        <td class="px-6 py-4"><%=application.property.location_city%></td>
                        <td class="px-6 py-4"><%=application.property.monthly_price%></td>
                        <td class="px-6 py-4"><%=application.status%></td>
                        <td class="px-6 py-4"><%=application.updated_at%></td>
                    </tr>
                <%end%>
                </tbody>
            </table>
        </div>
    </div>
        

