    

  <%= form_with(model: transaction, class: "contents") do |form| %>
    <% if transaction.errors.any? %>
      <div id="error_explanation" >
        <ul>
          <% transaction.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    
    <%= form.hidden_field :owner_id, value: current_owner.id %>
    <%= form.hidden_field :property_tenant_id, value: @property_tenant.id %>
    <%= form.hidden_field :tenant_id, value: @property_tenant.tenant.id %>
    <%= form.hidden_field :tenant_id, value: @property_tenant.tenant.id %>

    <div class="field">
      <%= form.text_field :amount %>
      <span></span>
      <%= form.label :amount %>
    </div>

    <div class="actions">
      <%= form.submit class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
    </div>
  <% end %>
