<% if !tenant_signed_in? && !owner_signed_in? %>
    <div class=dropdwn>
        <nav class="flex flex-row justify-around">
            <div class= "flex w-2/3 justify-start items-center ml-8">
                    <%=link_to root_path do %>
                        <span class="title app-title-name text-white">Bhouse App</span>
                    <% end %>
                    <div>
                        <img src="https://res.cloudinary.com/dbegssigw/image/upload/v1653213243/bhouse_app/bhousewhite_cs4e60.png" alt="bhouse logo" class="title-logo">
                    </div>                    
            </div>
            <ul>
                
                <li><a href="#">Login <ion-icon name="caret-down-outline"></ion-icon></a>
                    <ul class="drop-login">
                        <li><%= link_to "Owner", new_owner_session_path%></li>
                        <li> <%= link_to "Tenant", new_tenant_session_path%></li>
                        <li><%= link_to "Admin", new_admin_user_session_path%></li> 
                    </ul>
                </li>
                <li><a href="#">Signup <ion-icon name="caret-down-outline"></ion-icon></a>
                    <ul class="drop-signup">
                        <li><%= link_to "Owner" , new_owner_registration_path%></li>
                        <li><%= link_to "Tenant" , new_tenant_registration_path%></li>
                    </ul>
                </li>
            </ul>
        </nav>    
    </div>
    <%= render "layouts/alert" %>
<%elsif owner_signed_in? %>
    <%= render "layouts/alert" %>
    <div class ="container">
        <div class="navigation">
            <ul>
                <li>
                    <a href="#" >
                        <span class="icon"></span>
                        <span class="title app-title-name">Bhouse App</span>
                        <div class="items-middle flex">
                            <img src="https://res.cloudinary.com/dbegssigw/image/upload/v1653213243/bhouse_app/bhousewhite_cs4e60.png" alt="bhouse logo" class="title-logo">
                        </div>
                    </a>
                </li>
                 <li>
                    <%= link_to '<span class="icon"><ion-icon name="home-outline"></ion-icon></span>'.html_safe + '<span class="title">Dashboard</span>'.html_safe, root_path %>
                </li>
                <li>
                    <%= link_to '<span class="icon"><ion-icon name="bed-outline"></ion-icon></span>'.html_safe + '<span class="title">Properties</span>'.html_safe, properties_path  %>
                </li>
                 <li>
                    <a href="#">
                        <span class="icon"><ion-icon name="person-outline"></ion-icon></span>
                        <span class="title">Tenants</span>
                    </a>
                </li>
                 <li>
                    <%= link_to conversations_path do %>
                        <span class="icon"><ion-icon name="chatbubble-outline"></span>
                        <span class="title">Message</span>
                        <span class="title"><%=current_owner.notifs if current_owner.notifs > 0%></span>
                    <% end %>
                </li>
                 <li>
                    <a href="#">
                        <span class="icon"><ion-icon name="help-outline"></ion-icon></span>
                        <span class="title">Help</span>
                    </a>
                </li>
                  <li>
                    <a href="#">
                        <span class="icon"><ion-icon name="settings-outline"></ion-icon></span>
                        <span class="title">Settings</span>
                    </a>
                </li>
                  <li>
                    <a href="#">
                        <span class="icon"><ion-icon name="lock-closed-outline"></ion-icon></span>
                        <span class="title">Password</span>
                    </a>
                </li>
                <li>
                    <%= link_to '<span class="icon"><ion-icon name="log-out-outline"></ion-icon></span>'.html_safe + '<span class="title">Sign Out</span>'.html_safe, destroy_owner_session_path, method: :delete  %>
                </li>
            </ul>
        </div>
     
    </div>
       <div class="topbar">
                <div class="toggle" >
                    <ion-icon name="menu-outline" class="menu-bar"></ion-icon>
                </div>
                <div class= "flex w-full justify-start ml-8">
                    <%=link_to root_path do %>
                        <span class="title app-title-name text-tomato-400">Bhouse App</span>
                    <% end %>
                    <div>
                        <img src="https://res.cloudinary.com/dbegssigw/image/upload/v1652413523/bhouse_app/da6f0d7f370d2d1aa42bb27eac76a288.png" alt="bhouse logo" class="title-logo">
                    </div>                    
                </div>
                
                <%= link_to edit_owner_registration_path(current_owner) do %>
                    <div class="user">
                        <div class="username">
                            <span><%= current_owner.firstname%></span>
                            <span><%= current_owner.lastname%></span>
                        </div>
                        <div class="userprofile">
                            <%= image_tag current_owner.image_url if current_owner.image %>
                        </div>
                    </div>
                <%end%>
        </div>
<%else %>
    <div class ="container">
        <div class="navigation">
            <ul>
                <li>
                    <a href="#" >
                        <span class="icon"></span>
                        <span class="title app-title-name">Bhouse App</span>
                        <div class="items-middle flex">
                            <img src="https://res.cloudinary.com/dbegssigw/image/upload/v1653213243/bhouse_app/bhousewhite_cs4e60.png" alt="bhouse logo" class="title-logo">
                        </div>
                    </a>
                </li>
                <li>
                    <%= link_to '<span class="icon"><ion-icon name="home-outline"></ion-icon></span>'.html_safe + '<span class="title">Dashboard</span>'.html_safe, root_path %>
                </li>
                <li>
                    <%= link_to '<span class="icon"><ion-icon name="bed-outline"></ion-icon></span>'.html_safe + '<span class="title">Properties</span>'.html_safe, properties_path  %>
                </li>
                <li>
                    <%= link_to conversations_path do %>
                        <span class="icon"><ion-icon name="chatbubble-outline"></span>
                        <span class="title">Message</span>
                        <span class="title"><%=current_tenant.notifs if current_tenant.notifs > 0%></span>
                    <% end %>
                </li>
                <li>
                    <a href="#">
                        <span class="icon"><ion-icon name="help-outline"></ion-icon></span>
                        <span class="title">Help</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="icon"><ion-icon name="settings-outline"></ion-icon></span>
                        <span class="title">Settings</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="icon"><ion-icon name="lock-closed-outline"></ion-icon></span>
                        <span class="title">Password</span>
                    </a>
                </li>
                <li>
                    <%= link_to '<span class="icon"><ion-icon name="log-out-outline"></ion-icon></span>'.html_safe + '<span class="title">Sign Out</span>'.html_safe, destroy_tenant_session_path, method: :delete  %>
                </li>
            </ul>
        </div>
    </div>
    <div class="topbar">
                <div class="toggle">
                    <ion-icon name="menu-outline" class="menu-bar"></ion-icon>
                </div>
                <div class= "flex w-full justify-start ml-8">
                    <%=link_to root_path do %>
                        <span class="title app-title-name text-tomato-400">Bhouse App</span>
                    <% end %>
                    <div>
                        <img src="https://res.cloudinary.com/dbegssigw/image/upload/v1652413523/bhouse_app/da6f0d7f370d2d1aa42bb27eac76a288.png" alt="bhouse logo" class="title-logo">
                    </div>                    
                </div>
                <%= link_to edit_tenant_registration_path(current_tenant) do %>
                    <div class="user">
                        <div class="username text-gray-500">
                            <span><%= current_tenant.name%></span>
                        </div>
                        <div class="userprofile">
                            <%= image_tag current_tenant.image_url if current_tenant.image %>
                        </div>
                    </div>
                <%end%>
        </div>
<%end%>